html {
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif, Arial;
}

body {
    margin: 0 auto;
    background-image: url('https://media.istockphoto.com/id/1207566766/photo/3d-emoji-with-smiley-face.jpg?b=1&s=612x612&w=0&k=20&c=PILGa80fBwqj1QiGsQMipgAZsuiQlTf2Yyz2uSykelI='); 
    background-size: cover;
}

